Host durchblick
    user ploi
    HostName 157.90.170.59

Host wireinthewild
    user ploi
    HostName 157.90.170.59

Host golden-press
    user ploi
    HostName 157.90.170.59

Host taletale
    user ploi
    HostName 157.90.170.59

Host cc
    user ploi
    HostName 167.235.75.87

Host stills
    user ploi
    HostName 167.235.75.87

Host ghost
    user ploi
    HostName 49.12.195.91

Host never-ever
    user nevereve
    Hostname never-ever.ch

Host cyon
    user nevereve
    Hostname never-ever.ch   

Host kafold
    user ploi
    Hostname 144.126.224.157   

Host scheco
    user wycijoze
    Hostname 149.126.4.93  

Host kaf
    user jajuqype
    Hostname 149.126.4.72

Host bh
    user ploi
    Hostname 49.13.234.36

Host bh25
    user ploi
    Hostname 5.75.164.127

Host ccwp
    user ploi
    Hostname 188.245.82.118

Host nas
    user neverything
    Hostname 192.168.0.104

Host automate
    user ploi
    Hostname 188.245.98.39

Host smh
    user kowomaho
    Hostname s070.cyon.net

Host smh-old
    user s2145
    Hostname c116s.freistilbox.net

Host cc-lab
    user ploi
    Hostname 78.47.248.255

Host cc-lab-redis
    user ploi
    Hostname 91.99.184.81

Host cc-lab-db
    user ploi
    Hostname 138.199.234.181

Host dichtx
    user ploi
    Hostname 159.69.28.17

Host macmini
    HostName silvans-mac-mini.tail42d8f3.ts.net
    User neverything
    LocalForward 18789 127.0.0.1:18789
    LocalForward 18792 127.0.0.1:18792
    LocalForward 19999 127.0.0.1:19999
Host *
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
